{% load staticfiles %}

<head>
<meta charset="utf-8">
      <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- Page title -->
      <title>A Lancheria</title>
      <!--[if lt IE 9]>
      <script src="js/respond.js"></script>
      <![endif]-->
      <!-- Bootstrap Core CSS -->
      <link href="{% static 'assets/page/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
      <!-- Icon fonts -->
      <link href="{% static 'assets/layout/fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'assets/layout/fonts/flaticons/flaticon.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'assets/layout/fonts/glyphicons/bootstrap-glyphicons.css' %}" rel="stylesheet" type="text/css" />
      <!-- Google fonts -->
      <link href='https://fonts.googleapis.com/css?family=Lato:400,700,800' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:700,900' rel='stylesheet' type='text/css'>
      <!-- Theme CSS -->
      <link href="{% static 'assets/page/css/style.css' %}" rel="stylesheet" type="text/css" />
      <!-- Color Style CSS -->
      <link href="{% static 'assets/page/styles/funtime.css' %}" rel="stylesheet" type="text/css" />
      <!-- Owl Slider & Prettyphoto -->
      <link href="{% static 'assets/page/css/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'assets/page/css/prettyPhoto.css' %}" rel="stylesheet" type="text/css" />
      <!-- LayerSlider stylesheet -->
      <link href="{% static 'assets/page/layerslider/css/layerslider.css' %}" rel="stylesheet" type="text/css" />
      <!-- Favicons-->
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
       <!-- Switcher Only -->
    <link href="{% static 'assets/page/switcher/css/switcher.css' %}" rel="stylesheet" type="text/css" />
    <!--Alternate CSS -->
    <!--<link href="{% static 'assets/page/styles/funtime.css' %}" rel="stylesheet" type="text/css" />-->
    <!--<link href="{% static 'assets/page/styles/playground.css' %}" rel="stylesheet" type="text/css" />-->
    <!--<link href="{% static 'assets/page/styles/games.css' %}" rel="stylesheet" type="text/css" />-->
    <link href="{% static 'assets/page/styles/default.css' %}" rel="stylesheet" type="text/css" />
<!--     <link href="{% static 'assets/page/switcher/css/boxed.css' %}" rel="stylesheet" type="text/css" /> -->
<!--     <link href="{% static 'assets/page/switcher/css/full.css' %}" rel="stylesheet" type="text/css" /> -->
    <link href="{% static 'assets/page/css/custom.css' %}" rel="stylesheet" type="text/css" />
</head>